[user]
  name = Kazuki Matsuo
  email = kazuki.matsuo.728@gmail.com

[includeIf "gitdir:~/Private/"]
  path = ~/.gitconfig_private

[includeIf "gitdir:~/Work/"]
  path = ~/.gitconfig_work

[url "github:"]
  pushInsteadOf = https://github.com/
  pushInsteadOf = git@github.com:

[fetch]
  prune = true
[merge]
	ff = false

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[alias]
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  grapha = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
