[user]
  name = Kazuki Matsuo
  email = kazuki.matsuo.728@gmail.com

[url "git@github.com:"]
  insteadOf = https://github.com/

[fetch]
  prune = true

[merge]
  ff = false
  
[pull]
  rebase = yes

[rebase]
  autostash = true

[core]
  editor = vim
  excludesfile = ~/.gitignore_global

[alias]
  graph = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative
  grapha = log --graph --all --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit --date=relative