apiVersion: helm.cattle.io/v1
kind: HelmChart
metadata:
  name: argo-cd
  namespace: kube-system
spec:
  chart: argo-cd
  repo: https://argoproj.github.io/argo-helm
  version: 7.8.7
  targetNamespace: argo-cd
  valuesContent: |-
    configs:
      params: {}
    server:
      extensions:
        enabled: true
      certificate:
        enabled: false
      service:
        type: NodePort
        nodePortHttps: 32443
